@import '../../styles/variables';

.header {
  min-height: 396px;
  background: $darkColor center / cover no-repeat url('../../../public/images/header-bacground.png');
  box-sizing: border-box;

  .app-wrapper {
    padding-top: 20px;
  }

  .title-container {
    margin: 35px 0 0 100px;
  }

  .search-container {
    margin: 40px 100px 0;
  }
}
